USE [Hotel Booking System]
GO
/****** Object:  View [dbo].[v_HotelReviewSummary]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_HotelReviewSummary] AS
SELECT
    h.hotel_id,
    h.names         AS hotel_name,
    h.star_rating,
    AVG(CAST(r.rating AS DECIMAL(3,2))) AS avg_rating,
    COUNT(r.review_id)                   AS review_count
FROM hotel h
LEFT JOIN review r ON r.hotel_id = h.hotel_id
GROUP BY
    h.hotel_id,
    h.names,
    h.star_rating;
GO
