USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[payment_status]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_status](
	[payment_status_id] [int] NOT NULL,
	[payment_status] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[payment_status] ([payment_status_id], [payment_status]) VALUES (1, N'pending')
INSERT [dbo].[payment_status] ([payment_status_id], [payment_status]) VALUES (2, N'posted')
INSERT [dbo].[payment_status] ([payment_status_id], [payment_status]) VALUES (3, N'advanced-purchased')
GO
