USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[booking_status]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_status](
	[booking_status_id] [int] NOT NULL,
	[booking_status] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[booking_status] ([booking_status_id], [booking_status]) VALUES (1, N'Confirmed')
INSERT [dbo].[booking_status] ([booking_status_id], [booking_status]) VALUES (2, N'Pending')
INSERT [dbo].[booking_status] ([booking_status_id], [booking_status]) VALUES (3, N'Canceled')
GO
