USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[room_status]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_status](
	[room_status_id] [int] NOT NULL,
	[room_status] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[room_status] ([room_status_id], [room_status]) VALUES (1, N'Clean')
INSERT [dbo].[room_status] ([room_status_id], [room_status]) VALUES (2, N'Dirty')
INSERT [dbo].[room_status] ([room_status_id], [room_status]) VALUES (3, N'Occupied')
GO
