USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[hotel]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[hotel_id] [int] NOT NULL,
	[names] [varchar](200) NOT NULL,
	[descriptions] [varchar](3000) NULL,
	[address] [varchar](500) NOT NULL,
	[city_id] [int] NOT NULL,
	[star_rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hotel]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([city_id])
GO
ALTER TABLE [dbo].[hotel]  WITH CHECK ADD CHECK  (([star_rating]>=(0) AND [star_rating]<=(5)))
GO
