USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[states]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[states](
	[state_id] [int] NOT NULL,
	[state_code] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[states] ([state_id], [state_code]) VALUES (1, N'AL')
INSERT [dbo].[states] ([state_id], [state_code]) VALUES (2, N'AK')
INSERT [dbo].[states] ([state_id], [state_code]) VALUES (3, N'AZ')
GO
