USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[payment_method_id] [int] NOT NULL,
	[payment_method] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method]) VALUES (1, N'credit_card')
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method]) VALUES (2, N'debit_card')
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method]) VALUES (3, N'bank_transfer')
GO
