USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[booking_id] [int] NOT NULL,
	[users_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[check_in_date] [datetime] NOT NULL,
	[check_out_date] [datetime] NOT NULL,
	[total_price] [decimal](10, 2) NULL,
	[booking_status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[booking] ([booking_id], [users_id], [room_id], [check_in_date], [check_out_date], [total_price], [booking_status_id]) VALUES (1, 48, 466, CAST(N'2025-05-27T10:54:06.000' AS DateTime), CAST(N'2025-06-02T10:54:06.000' AS DateTime), CAST(404.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[booking] ([booking_id], [users_id], [room_id], [check_in_date], [check_out_date], [total_price], [booking_status_id]) VALUES (2, 80, 1395, CAST(N'2025-02-20T03:26:25.000' AS DateTime), CAST(N'2025-03-05T03:26:25.000' AS DateTime), CAST(73320.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[booking] ([booking_id], [users_id], [room_id], [check_in_date], [check_out_date], [total_price], [booking_status_id]) VALUES (3, 50, 1592, CAST(N'2025-07-23T01:10:44.000' AS DateTime), CAST(N'2025-07-26T01:10:44.000' AS DateTime), CAST(416.00 AS Decimal(10, 2)), 2)
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([booking_status_id])
REFERENCES [dbo].[booking_status] ([booking_status_id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[room] ([room_id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [CK_Stays_CheckoutNextDayOrLater] CHECK  ((datediff(day,[check_in_date],[check_out_date])>=(1)))
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [CK_Stays_CheckoutNextDayOrLater]
GO
