USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[city_id] [int] NOT NULL,
	[city_name] [varchar](200) NOT NULL,
	[state_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cities] ([city_id], [city_name], [state_id]) VALUES (1, N'Collierville', 47)
INSERT [dbo].[cities] ([city_id], [city_name], [state_id]) VALUES (2, N'Schenectady', 35)
INSERT [dbo].[cities] ([city_id], [city_name], [state_id]) VALUES (3, N'Calipatria', 6)
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD FOREIGN KEY([state_id])
REFERENCES [dbo].[states] ([state_id])
GO
