USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[users_id] [int] NOT NULL,
	[full_name] [varchar](200) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[password] [varbinary](max) NOT NULL,
	[phone] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[users] ([users_id], [full_name], [email], [password], [phone]) VALUES (1, N'Ibrahim Seviour', N'iseviour0@homestead.com', 0x7045367B5A274A6E64634B, N'(630) 7180927')
INSERT [dbo].[users] ([users_id], [full_name], [email], [password], [phone]) VALUES (2, N'Robbin Yellep', N'ryellep1@nydailynews.com', 0x654E37363F6F2C62546D3C62, N'(623) 8764811')
INSERT [dbo].[users] ([users_id], [full_name], [email], [password], [phone]) VALUES (3, N'Fenelia Eilhersen', N'feilhersen2@mac.com', 0x6753304843756663, N'(472) 4534870')
GO
