USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[room_type]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_type](
	[room_type_id] [int] NOT NULL,
	[room_type] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[room_type] ([room_type_id], [room_type]) VALUES (1, N'Deluxe Room')
INSERT [dbo].[room_type] ([room_type_id], [room_type]) VALUES (2, N'Standard room')
INSERT [dbo].[room_type] ([room_type_id], [room_type]) VALUES (3, N'Double room')
GO
