USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[room]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[room_id] [int] NOT NULL,
	[hotel_id] [int] NOT NULL,
	[room_number] [int] NOT NULL,
	[room_type_id] [int] NOT NULL,
	[capacity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[room_status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[room] ([room_id], [hotel_id], [room_number], [room_type_id], [capacity], [price], [room_status_id]) VALUES (1, 209, 101, 20, 6, CAST(8617.00 AS Decimal(10, 2)), 4)
INSERT [dbo].[room] ([room_id], [hotel_id], [room_number], [room_type_id], [capacity], [price], [room_status_id]) VALUES (2, 484, 102, 14, 4, CAST(103.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[room] ([room_id], [hotel_id], [room_number], [room_type_id], [capacity], [price], [room_status_id]) VALUES (3, 321, 103, 20, 2, CAST(66.00 AS Decimal(10, 2)), 3)
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotel] ([hotel_id])
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD FOREIGN KEY([room_status_id])
REFERENCES [dbo].[room_status] ([room_status_id])
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[room_type] ([room_type_id])
GO
