USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[review]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[review_id] [int] NOT NULL,
	[users_id] [int] NOT NULL,
	[hotel_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [varchar](1000) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[review] ([review_id], [users_id], [hotel_id], [rating], [comment], [created_at]) VALUES (1, 54, 101, 7, N'Fantastic hotel with great service and a perfect location.', CAST(N'2025-04-22T16:25:56.000' AS DateTime))
INSERT [dbo].[review] ([review_id], [users_id], [hotel_id], [rating], [comment], [created_at]) VALUES (2, 30, 37, 1, N'Very bad experience overall. Would not recommend.', CAST(N'2024-12-30T17:35:43.000' AS DateTime))
INSERT [dbo].[review] ([review_id], [users_id], [hotel_id], [rating], [comment], [created_at]) VALUES (3, 36, 133, 7, N'Excellent experience! The amenities and service exceeded expectations.', CAST(N'2025-06-02T00:06:16.000' AS DateTime))
GO
ALTER TABLE [dbo].[review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotel] ([hotel_id])
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [CK_review_rating] CHECK  (([rating]>=(1) AND [rating]<=(7)))
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [CK_review_rating]
GO
