USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] NOT NULL,
	[booking_id] [int] NOT NULL,
	[payment_method_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_status_id] [int] NOT NULL,
	[transaction_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[payment] ([payment_id], [booking_id], [payment_method_id], [amount], [payment_status_id], [transaction_date]) VALUES (1, 1, 1, CAST(404.00 AS Decimal(10, 2)), 2, CAST(N'2025-05-27T10:54:06.000' AS DateTime))
INSERT [dbo].[payment] ([payment_id], [booking_id], [payment_method_id], [amount], [payment_status_id], [transaction_date]) VALUES (2, 2, 5, CAST(36660.00 AS Decimal(10, 2)), 2, CAST(N'2025-02-20T03:26:25.000' AS DateTime))
INSERT [dbo].[payment] ([payment_id], [booking_id], [payment_method_id], [amount], [payment_status_id], [transaction_date]) VALUES (3, 3, 1, CAST(416.00 AS Decimal(10, 2)), 6, CAST(N'2025-07-23T01:10:44.000' AS DateTime))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking] ([booking_id])
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_method] ([payment_method_id])
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD FOREIGN KEY([payment_status_id])
REFERENCES [dbo].[payment_status] ([payment_status_id])
GO
