USE [Hotel Booking System]
GO
/****** Object:  Table [dbo].[hotel_image]    Script Date: 12/2/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel_image](
	[image_id] [int] NOT NULL,
	[hotel_id] [int] NOT NULL,
	[urls] [varchar](2000) NULL,
	[caption] [varchar](3000) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[hotel_image] ([image_id], [hotel_id], [urls], [caption]) VALUES (2, 2, N'http://www.glensandersmansion.com/', N'24-hour front desk ATM/banking Accessible bathroom Bar/lounge Concierge services Dry cleaning/laundry service Elevator/lift Fireplace in lobby Free WiFi Free breakfast Free use of nearby fitness center In-room accessibility Number of floors - 2 Number of meeting rooms - 4 Restaurant Smoke-free property Total number of rooms - 22 Tours/ticket assistance Wedding services')
GO
ALTER TABLE [dbo].[hotel_image]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotel] ([hotel_id])
GO
